node_modules
.next
.next-build
out
dist
.DS_Store
.env
.env.local
.env.*.local
tsconfig.tsbuildinfo
*.tsbuildinfo
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal
dev.db
dev.db-journal
.vscode
.idea
*.log
